# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# dotenv variables - passwords etc.
.env.yml

# sample download file
instagram.json

# ?? leftover?
gpg